.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.menu ul{
  list-style: none;
  margin: 0;
  padding: 0; 
  background-color: #61dafb;
}

.menu li ul{
  display: none;
  position: absolute;
  min-width: 100px;
}

.menu li a{
  color:white;
  display: block;
  padding: 20px;
  margin: 20px;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu li a:hover{
  background-color: blue;
  }

.menu li{
float: left;
margin-left: 80px;

}
.menu li:hover > ul{
display: block;
}
nav .imagen img{
width: 80px;
height: 70px;
margin: 10px;

}
